.navbar a.active{
    color: var(--accent-color);
}

body{
	color: var(--content-txt-color);
}

.welcome{
    padding: 20px;
}

h4{
    font-weight: none;
}

form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
fieldset {
    margin-bottom: 20px;
}
  
legend {
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
  
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}
  
input[type="text"],
input[type="email"],
input[type="url"],
input[type="email"],

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 10px;
}
  
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 10px;
}
  
button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}