.navbar a.active {
    color: var(--accent-color);
}

body{
	color: var(--content-txt-color);
}

section{
	padding: 20px;
}

h2{
	color: var(--content-txt-color);
}

p{
	line-height: 1.6;
	color: var(--content-txt-color);
}

.collapsible{
    background-color: var(--base-color);
    color: var(--accent-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

section .active, .collapsible:hover{
    background-color: var(--collapsible-color-after);
}

.collapsible:after{
    content: '\02795';
    font-size: 13px;
    color: var(--base-color);
    float: right;
    margin-left: 5px;
}

section .active:after{
    content: '\2796';
}

.content{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    background-color: var(--base-color);
    transition: max-height 0.2s ease-out;
}

.container-dyk{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container-dyk > div{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.container-dyk > div h2{
    margin-top: 0;
    color: var(--content-txt-color-ndm);
}

.container-dyk > div p{
    margin-bottom: 0;
    color: var(--content-txt-color-ndm);
}

#rcorners{
    border-radius: 15px 50px;
    padding: 20px;
    max-width: 30%;
    margin: 20px auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}