body {
    font-family: 'Arial', sans-serif;
    color: var(--content-txt-color);
    background-color: var(--base-color);
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

section {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    color: var(--content-txt-color);
}

h2 {
    font-size: 1.8rem;
    margin-top: 30px;
    color: var(--heading-color);
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 5px;
}

h3 {
    font-size: 1.4rem;
    color: var(--secondary-color);
    margin-top: 40px;
    font-weight: bold;
}

p {
    font-size: 1.1rem;
    color: var(--content-txt-color);
    margin-bottom: 20px;
}

strong {
    color: var(--highlight-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    section {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* look into the @media thing to see if you can standardise all pages to be responsive on mobile as well as desktop */